
.button{
  width: 100px;
  height: 100%;
}

.container{
  height: 400px;
  display: flex;
  justify-content: space-between;
}

.icon{
  color:black;
  width: 50px !important;
  height: auto !important;
}

.home{
  background-position: center top;
  background-repeat: no-repeat;
  background-size: auto 50%;
  margin-left: auto;
  margin-right: auto;
}

.home__row{
  display: flex;
  z-index: 1;
  margin: 0 5px;
}



